nav {
  font-size: 20px;
}
.dropdown-menu {
  font-size: 20px;
}
.memo-box {
  margin: 15px 0;
  font-size: 20px;
}
.panel-heading {
  height: 110px;
}
.panel-body {
  height: 90px;
  font-size: 20px;
}
.glyphicon {
  color:#C0C0C0;
  padding: 0 5px;
  margin-top: -20px;
}
.buttons {
  text-align: right;
}
.foot {
  font-family: monospace;
  margin-left: 165px;
  font-size: 20px;
}
